function Main.main 1
call BalloonGame.newInstance 0
pop temp 0
call BalloonGame.getInstance 0
pop local 0
push local 0
call BalloonGame.run 1
pop temp 0
push local 0
call BalloonGame.dispose 1
pop temp 0
push constant 0
return
