function Needle.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 3
push this 1
push constant 32
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop this 2
push pointer 0
call Needle.show 1
pop temp 0
push pointer 0
return
function Needle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Needle.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Needle.drawNeedle 1
pop temp 0
push constant 0
return
function Needle.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Needle.drawNeedle 1
pop temp 0
push constant 0
return
function Needle.getIsFilled 0
push argument 0
pop pointer 0
push this 3
return
function Needle.reverseIsFilled 0
push argument 0
pop pointer 0
push this 3
not
pop this 3
push constant 0
return
function Needle.drawNeedle 0
push argument 0
pop pointer 0
push constant 16384
push this 2
add
pop this 4
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 0
add
push constant 256
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 256
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 896
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 1088
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 1088
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 1088
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 3168
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 6192
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 4112
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 4112
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 4112
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 4112
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 4112
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 4112
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 16384
push this 2
add
pop this 4
push this 4
push constant 0
add
push constant 256
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 256
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 896
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 1984
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 1984
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 1984
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 4064
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 8176
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
